{% extends 'base.html.twig' %}

{% block title %}New Herritarra{% endblock %}

{% block body %}
    <h1>Create new Herritarra</h1>

    {{ include('herritarra/_form.html.twig') }}

    <a href="{{ path('app_herritarra_index') }}">back to list</a>
{% endblock %}
