<form method="post" action="{{ path('app_hauteskundea_delete', {'id': hauteskundea.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hauteskundea.id) }}">
    <button class="btn">{{ "Ezabatu" | trans }}</button>
</form>
